.table {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
}
.th {
  background: #afcde7;
  color: white;
  padding: 10px 20px;
}
th {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

.th:first-child {
  text-align: left;
}
